---
# Telegraf Role - Installs and configures Telegraf monitoring agent
#
# Telegraf is used to collect system metrics and send them to InfluxDB
# or other time-series databases.
#
# Variables:
#   telegraf_influxdb_url: InfluxDB URL for output
#   telegraf_influxdb_database: Database name
#   telegraf_influxdb_token: Authentication token

- name: Install Telegraf via Homebrew
  become: false
  community.general.homebrew:
    name: telegraf
    state: present

- name: Create Telegraf configuration directory
  ansible.builtin.file:
    path: /opt/homebrew/etc
    state: directory
    mode: '0755'
  ignore_errors: true

- name: Deploy Telegraf configuration
  ansible.builtin.template:
    src: telegraf.conf.j2
    dest: /opt/homebrew/etc/telegraf.conf
    mode: '0644'
  notify: restart telegraf

- name: Start Telegraf service
  become: false
  ansible.builtin.command: brew services start telegraf
  changed_when: false
  ignore_errors: true

- name: Verify Telegraf is running
  ansible.builtin.command: pgrep telegraf
  register: telegraf_process
  changed_when: false
  failed_when: false

- name: Display Telegraf status
  ansible.builtin.debug:
    msg: "Telegraf is {{ 'running' if telegraf_process.rc == 0 else 'not running' }}"

